<div class="cont1">
  <div class="cont2">
    <div class="flex-container">

      <div class="flex-item">
<span><i class="fas fa-clock icon"></i> Duration</span> 
        <h2>{{formatDaysAndNights(package?.duration) }}</h2></div>
        
<div class="flex-item">
  <span><i class="fas fa-shoe-prints upward-shoe-prints">     
    </i> Tour Type</span> 
    <h2>{{package?.tour_type}} Type</h2>
</div>
     
<div class="flex-item">
  <span><i class="fas fa-users icon"></i>Group Size</span>
<h2> <span>{{ package?.group_size}} Person</span></h2>
</div>

  <div class="flex-item">
  <span><i class="fas fa-user-tie icon"></i>
     Tour Guide</span> 
  <h2> <span>{{package?.tour_guide }} Mentor</span></h2>
</div>
</div>

<div class="cont3">
  <div class="cont4">
  
    <div class="booking-form-box">
      <h3 class="book">Book the Tour</h3>
    
    <hr class="separate-line">
    <form [formGroup]="enquiryForm" (ngSubmit)="onSubmit()">

     
      <div class="search-box-single destination-box">
        <div class="searchbox-icon">
          <i class="bi bi-pencil-fill"></i>
        </div>
        <div class="searchbox-input">
          <input type="text" class="form-control" id="fullname" formControlName="fullname" placeholder="Full Name*" />
        </div>
      </div>
      <div *ngIf="enquiryForm.get('fullname')?.invalid && enquiryForm.get('fullname')?.touched" class="text-danger">
        Full Name is required.
      </div>
    
      <div class="search-box-single">
        <div class="searchbox-icon">
          <i class="bi bi-envelope-fill"></i>
        </div>
        <div class="searchbox-input">
          <input type="email" class="form-control" id="email" formControlName="email" placeholder="E-mail*" />
        </div>
      </div>
      <div *ngIf="enquiryForm.get('email')?.invalid && enquiryForm.get('email')?.touched" class="text-danger">
        <div *ngIf="enquiryForm.get('email')?.errors?.['required']">Email is required.</div>
        <div *ngIf="enquiryForm.get('email')?.errors?.['pattern']">Please enter a valid email.</div>
      </div>
    
      <div class="search-box-single destination-box">
        <div class="searchbox-icon">
          <i class="bi bi-telephone"></i>
        </div>
        <div class="searchbox-input">
          <input type="text" class="form-control" id="phone" formControlName="phone" placeholder="Phone Number*" />
        </div>
      </div>
      <div *ngIf="enquiryForm.get('phone')?.invalid && enquiryForm.get('phone')?.touched" class="text-danger">
        <div *ngIf="enquiryForm.get('phone')?.errors?.['required']">Phone number is required.</div>
        <div *ngIf="enquiryForm.get('phone')?.errors?.['pattern']">Phone number must be exactly 16 digits or less.</div>
      </div>
    
     
      <div class="search-box-single">
        <div class="searchbox-icon">
          <i class="bi bi-chat-left-text-fill"></i>
        </div>
        <div class="searchbox-input">
          <textarea class="form-control" id="message" formControlName="message"
           rows="6" placeholder="Your Enquiry*"></textarea>
        </div>
      </div>
      <div *ngIf="enquiryForm.get('message')?.invalid && enquiryForm.get('message')?.touched" class="text-danger">
        Message is required.
      </div>
    
      <button type="submit" class="button-fill-primary btn--lg w-100 mt-3" [disabled]="enquiryForm.invalid || isDisabled">
        Submit Now
      </button>
    </form>
</div>
</div>
</div>
</div>

<div class="img-cont">
  <img [src]="package?.image" class="img-cont" alt="Tour Image">


<div class="location">
  <span><i class="fas fa-map-marker-alt icon"></i></span>
  <span>{{package?.country}}</span>
  <hr>
</div></div> </div>


<div class="cont5">
<div class="cont6">


  <div class="button-toggle">
    <div class="button-container">
<button class="btn" (click)="setActiveButton('button1')">
  <i class="fas fa-i"></i>   Information</button>
     
  <button class="btn" (click)="setActiveButton('button2')">
        <i class="fas fa-spreadsheet"></i> Travel Plan</button>
     
        <button class="btn" (click)="setActiveButton('button3')">
       <i class="fas fa-image"></i> Tour Gallery</button>
      
<button class="btn" (click)="setActiveButton('button4')">
<i class="fas fa-location"></i> Location</button>
</div>
  
<div class="content">
<div *ngIf="activeButton === 'button1'">
<h2 class="cap">{{package?.title}}</h2>
<p class="para">{{package?.about }}</p>

<img src="assets/images/9.jpg" class="img1">

<!--table data-->
<div  class="package-info-container">
  <table class="table package-info-table mb-0">
    <tbody>
      <tr>
        <th>Destination</th>
        <td class="table-item">{{package?.title }}</td>
      </tr>
      <tr>
        <th>Departure</th>
        <td class="table-item">{{ departure }}</td>
      </tr>
      <tr>
        <th>Departure Time</th>
        <td class="table-item">{{ departureTime }}</td>
      </tr>
      <tr>
        <th>Return Time</th>
        <td class="table-item">{{ returnTime }}</td>
      </tr>
      <tr>
        <th>Included</th>
        <td>
          <ul class="included-list table-item">
       <li *ngFor="let item of activeInclusions">
              <i class="bi bi-check2"></i> {{ item.include.Name }}
       </li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>Excluded</th>
        <td>
          <ul class="excluded-list table-item">
            <li *ngFor="let item of excludedItems">
              <i class="bi bi-x-lg"></i>{{ item.description }}
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td class="tour-transport-col" colspan="2">
          <div class="tour-transport d-flex align-items-center justify-content-center">
            <span class="table-item">Travel with Bus :
              {{package?.travel_with_bus}}</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!--tble end-->
 </div>


        <div *ngIf="activeButton === 'button2'">
          <h2 class="detail">Details</h2>
          <p class="para1">{{package?.title}}</p>
          <div *ngFor="let itinerary of filteredItineraries; let i = index">
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading{{i}}">

<button class="accordion-button" type="button" (click)="toggleCollapse(i)"
[attr.aria-expanded]="isOpen(i) ? 'true' : 'false'"
[attr.aria-controls]="'itineraryCollapse' + (i + 1)">
 <div class="plan-index-circle">
<h4 class="plan-index">{{itinerary.days}}</h4></div>
<div class="plan-title">
  
  <h5>Day : {{itinerary.days}}  {{ itinerary.title }}</h5>
  <h6>{{ itinerary.created_at}}</h6>
  </div>
</button>
</h2>
      
              <!-- Collapsible Content -->
<div id="itineraryCollapse{{ i + 1 }}"  class="accordion-collapse collapse"
 [class.show]="isOpen(i)" [attr.aria-labelledby]="'heading' + i"
[attr.data-bs-parent]="'#accordion'">
    <div class="accordion-body">
                  <p>Details for {{itinerary.description}}</p>
                </div>
              </div>
            </div>
          </div>
    <!--button close2-->    </div>


    <div *ngIf="activeButton === 'button3'">
      <p class="para1">{{package?.title}}</p>
<div *ngIf="filteredGalleries && filteredGalleries.length >0;else noGallery"> 

<div class="cont9">
  <div class="row" *ngIf="filteredGalleries.length >= 2">
    <div class="col-6">
      <img [src]="filteredGalleries[0].image_url" alt="Gallery Image" class="img2">
    </div>
    <div class="col-6">
      <img [src]="filteredGalleries[1].image_url" alt="Gallery Image" class="img2">
    </div>
  </div>
          
  <div class="row justify-content-center" *ngIf="filteredGalleries.length >= 3">
    <div class="col-12">
      <img [src]="filteredGalleries[2].image_url" alt="Gallery Image" class="img3">
    </div>
  </div>
          
  <div class="row" *ngFor="let row of chunkedGalleries(filteredGalleries.slice(3), 2)">
    <div class="col-6" *ngFor="let gallery of row">
      <img [src]="gallery?.image_url" alt="Gallery Image" class="img2">
    </div>
  </div>
        </div></div>
        <ng-template #noGallery>
          <p>No galleries available for this package.</p>
        </ng-template>
  <!--btn 3 close--></div>


  <div *ngIf="activeButton === 'button4'">
    <p class="para1">{{package?.title}}</p>
  </div>
 
<!----></div>

<!--cont 5 and 6 close -->     
</div> 
</div>



<div class="cont7">
  
    <h2 class="popular">Popular Package</h2>
  <div class="widget-body">
 <div class="package-sm" *ngFor="let pkg of _packages"> <div class="thumb">
<a [href]="pkg.pk_Package_id">
<img width="80" height="80" [src]="pkg.image" class="img-fluid wp-post-image" alt="{{ pkg.title }}" decoding="async"> </a>
</div>

<div class="info">
 <h6><a [href]="pkg.country" class="info-a">{{ pkg.title }}</a></h6>
     <div class="price">
         <span>From</span>
  <h6>
    <del>\$59.00</del>
  -$49.00 /<span>Per Person</span> </h6>
 </div>         
  </div>
</div>
</div>
</div>


<div class="cont8">
    <div class="tags">All Tags</div>
      <button class="button" >Flying</button>
      <button class="button" >Holidays</button>
      <button class="button" >Feature</button>
      <button class="button" >Family Tour</button>
      <button class="button" >One Travel</button>
      <button class="button" >Trip</button>
      <button class="button" >Explore</button>
      <button class="button" >Instatravel</button>
      <button class="button" >Summer</button>
      <button class="button" >Beach</button>
      <button class="button" >Destination</button>
      <button class="button" >Travelling</button>
      <button class="button" >TourCity</button>
      <button class="button" >Hill Town</button>
      <button class="button" >FaceBook</button>
  
    </div>
    </div>



<div class="cont10">
<div class="box1">
  Customer Review
</div>
<div class="box2">
  No rating found
  
  <button class="rating-button" (click)="toggleReviewForm()">Give a Rating</button>

<!-- Overlay for Review Form -->
<div *ngIf="isReviewFormVisible" class="overlay">

  <button class="close-button" (click)="toggleReviewForm()">X</button>



  <div   class="form-container">
    <h2 class="review">Write Your Review</h2>
 <form (ngSubmit)="submitReview()"#reviewForm="ngForm">
  
<div class="row mb-3">
      <div class="col-md-6">
 <input type="text" id="name"[(ngModel)]="reviewData.name" name="name" placeholder="Your Name" class="input-review"
  required="">
</div>

  <div class="col-md-6">
<input type="email" id="email" [(ngModel)]="reviewData.email" name="email"  class="input-review" placeholder="Your Email Address" required>
</div></div>

<div class="col-md-13">
<input type="title" id="title" [(ngModel)]="reviewData.title" name="title" placeholder="Review Title" class="input-review"required>
</div>

<div class="mb-3">
<textarea id="message" [(ngModel)]="reviewData.message" name="message" rows="5" placeholder="Review Message"
class="textarea-review" required>
</textarea>
</div>

      <!-- Rating section -->
      <ul class="review-item-list">
        <div *ngFor="let rating of ratings">
          <li>

            <div class="star-list">
              <fieldset class="rating">
                <input type="radio" [id]="rating.name + 'star1'" [name]="rating.name" [value]="1" (change)="onRatingChange(rating.name, 1)">
                <label [for]="rating.name + 'star1'" title="1 star">★</label>
                
                <input type="radio" [id]="rating.name + 'star2'" [name]="rating.name" [value]="2" (change)="onRatingChange(rating.name, 2)">
                <label [for]="rating.name + 'star2'" title="2 stars">★</label>
                
                <input type="radio" [id]="rating.name + 'star3'" [name]="rating.name" [value]="3" (change)="onRatingChange(rating.name, 3)">
                <label [for]="rating.name + 'star3'" title="3 stars">★</label>
                
                <input type="radio" [id]="rating.name + 'star4'" [name]="rating.name" [value]="4" (change)="onRatingChange(rating.name, 4)">
                <label [for]="rating.name + 'star4'" title="4 stars">★</label>
                
                <input type="radio" [id]="rating.name + 'star5'" [name]="rating.name" [value]="5" (change)="onRatingChange(rating.name, 5)">
                <label [for]="rating.name + 'star5'" title="5 stars">★</label>
              </fieldset>
            </div>

            <div class="rating-label">
              <span>{{ rating.label }}</span>
            </div>
          </li>
        </div>
      </ul>

      <button type="submit" class="submit-button">Submit Review</button>
    </form>
  </div>
</div>
</div>
</div>

