  <div class="container mt-2">
    <div class="row">
      <!-- Tour Details -->
      <div class="col-lg-8">
        <!-- Detail Boxes -->
        <div class="row text-center mb-4 mt-2">
          <div class="col-6 col-md-3 detail-box">
            <i class="fas fa-clock icon"></i> Duration
            <p>{{ formatDaysAndNights(package?.duration) }}</p>
          </div>
          <div class="col-6 col-md-3 detail-box">
        <i class="fas fa-shoe-prints upward-shoe-prints"></i>
            Tour Type
            <p>{{ package?.tour_type }} Tour</p>
          </div>
          <div class="col-6 col-md-3 detail-box">
            <i class="fas fa-users icon"></i>
            Group Size
            <p>{{ package?.group_size }} Person</p>
          </div>
          <div class="col-6 col-md-3 detail-box">
            <i class="fas fa-user-tie icon"></i>
            Tour Guide
            <p>{{ package?.tour_guide }} Mentors</p>
          </div>
        </div>
      
        <!-- Image -->
        <div class="img-container text-center mb-4">
          <img [src]="package?.image" alt="Tour Image" class="img-fluid">
        </div>
      
        <!-- Country Info -->
        <div class="row mb-4">
          <div class="col-12 d-flex align-items-center">
            <i class="fas fa-map-marker-alt icon me-2"></i>
            <span class="loc">{{ package?.country }}</span>
          </div>
        </div>
      
        <!-- Button Container -->
        <div class="row">
          <div class="col-12 button-container text-center">
            <button class="btn mt-2 me-4 px-4 py-2" (click)="setActiveButton('button1')">
              <i class="fas fa-info-circle"></i> Information
            </button>
            <button class="btn me-4 mt-2 px-4 py-2" (click)="setActiveButton('button2')">
              <i class="fas fa-spreadsheet"></i> Travel Plan
            </button>
            <button class="btn me-4 mt-2  px-4 py-2" (click)="setActiveButton('button3')">
              <i class="fas fa-image"></i> Tour Gallery
            </button>
            <button class="btn me-4 mt-2 px-4 py-2" (click)="setActiveButton('button4')">
              <i class="fas fa-map-marker-alt"></i> Location
            </button>
          </div>
        </div>
            
        <div class="col-12">
          <div class="content">
            <!-- Information Section -->
            <div *ngIf="activeButton === 'button1'" class="mb-4">
              <h2 class="cap text-start mb-2 mt-5 me-2">{{ package?.title }}</h2>
              <p class="para text-center mb-2 mt-4">{{ package?.about }}</p>
  
              <img src="assets/images/9.jpg" class="img-fluid mb-4 mt-5 d-block mx-auto" style="width: 696px; height: 210px; object-fit: cover;">


              <div class="package-info-container">
                <table class="table package-info-table mb-0">
                  <tbody>
                    <tr>
                      <th>Destination</th>
                      <td class="table-item">{{package?.title }}</td>
                    </tr>
                    <tr>
                      <th>Departure</th>
                      <td class="table-item">{{ departure }}</td>
                    </tr>
                    <tr>
                      <th>Departure Time</th>
                      <td class="table-item">{{ departureTime }}</td>
                    </tr>
                    <tr>
                      <th>Return Time</th>
                      <td class="table-item">{{ returnTime }}</td>
                    </tr>
                    <tr>
                      <th>Included</th>
                      <td>
                        <ul class="included-list table-item">
                     <li *ngFor="let item of activeInclusions">
                            <i class="bi bi-check2"></i> {{ item.include.Name }}
                     </li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <th>Excluded</th>
                      <td>
                        <ul class="excluded-list table-item">
                          <li *ngFor="let item of excludedItems">
                            <i class="bi bi-x-lg"></i>{{ item.description }}
                          </li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <div class="tour-transport d-flex align-items-center justify-content-center">
                          <span>Travel with Bus: {{ package?.travel_with_bus }}</span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        
            <!-- Travel Plan Section -->
            <div *ngIf="activeButton === 'button2'" class="mb-4">
              <h2 class="detail text-start mt-3 mb-3">Details</h2>

              <div *ngFor="let itinerary of filteredItineraries; let i = index">
                <div class="accordion" id="accordion">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{ i }}">
                      <button class="accordion-button collapsed" type="button" (click)="toggleCollapse(i)">
                        <div class="plan-index-circle">
                          <h4 class="plan-index">{{ itinerary.days }}</h4>
                        </div>
                        <div class="plan-title">
                          <h5>Day {{ itinerary.days }}: {{ itinerary.title }}</h5>
                          <h6>{{ itinerary.created_at }}</h6>
                        </div>
                      </button>
                    </h2>
                    <div id="itineraryCollapse{{ i }}" class="accordion-collapse collapse" [class.show]="isOpen(i)">
                      <div class="accordion-body">
                        <p>Details: {{ itinerary.description }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        
            
            <div *ngIf="activeButton === 'button3'">
              <p class="para1">{{ package?.title }}</p>
              
              <div *ngIf="filteredGalleries && filteredGalleries.length > 0; else noGallery"> 
                <div class="row">
                  <div class="col-12 col-md-6">
                    <img [src]="filteredGalleries[0].image_url" alt="Gallery Image" class="img-fluid img2">
                  </div>
                  <div class="col-12 col-md-6">
                    <img [src]="filteredGalleries[1].image_url" alt="Gallery Image" class="img-fluid img2">
                  </div>
                </div>
                
                <div class="row justify-content-center">
                  <div class="col-12 mt-4">
                    <img [src]="filteredGalleries[2].image_url" alt="Gallery Image" class="img-fluid img3">
                  </div>
                </div>
                
                <div class="row">
                    <div class="row" *ngFor="let row of chunkedGalleries(filteredGalleries.slice(3), 2)">
                      <div class="col-12 col-md-6 mt-4" *ngFor="let gallery of row">
                        <img [src]="gallery?.image_url" alt="Gallery Image" class="img-fluid img2">
                      </div>
                    </div>
                </div>
              </div>
              <ng-template #noGallery>
                <p>No galleries available for this package.</p>
              </ng-template>
            </div>
            
        
            <!-- Location Section -->
            <div *ngIf="activeButton === 'button4'" class="mb-4">
              <p class="para1 text-center">{{ package?.title }}</p>
            </div>
          </div>
        </div>
        
 



      </div>

      <!-- Booking Form -->
      <div class="col-lg-4">
        <div class="form-box">
          <h3 class="text-center">Book the Tour</h3>
          <form>
            <div class="mb-3">
              <label for="fullname" class="form-label">Full Name</label>
              <input type="text" id="fullname" class="form-control" placeholder="Enter your name">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">E-mail</label>
              <input type="email" id="email" class="form-control" placeholder="Enter your email">
            </div>
            <div class="mb-3">
              <label for="phone" class="form-label">Phone Number</label>
              <input type="text" id="phone" class="form-control" placeholder="Enter your phone number">
            </div>
            <div class="mb-3">
              <label for="people" class="form-label">People</label>
              <input type="number" id="people" class="form-control" placeholder="Number of people">
            </div>
            <button type="submit" class="btn btn-primary w-100">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
