<div class="cont1">

    <div class="flex-container">

        <div class="flex-item"> 
      <span class="flex-item-color">
        <i class="fas fa-clock"></i>
      </span>Duration</div>
      
      <div class="flex-item">
      <span class="flex-item-color">
        <i class="fas fa-shoe-prints upward-shoe-prints"></i></span>
          Tour Type</div>

      <div class="flex-item">
      <span class="flex-item-color">
        <i class="fas fa-clock"></i>  </span> 
        Group size
      <input type="text"  class="form-control" placeholder="Please type duration">
      </div>
      
      <div class="flex-item">
      <span class="flex-item-color"><i class="fas fa-calendar-alt"></i> </span>
          Tour Guide
      <input type="date" #date class="form-control" placeholder="Select your date">
      </div>
      </div>
</div>