<div class="box1">
<div class="cont1">
    <div class="row">
      <!-- First img -->
      
        <div class="img text-center">
          <div class="video d-inline-block">
<img src="assets/images/1.jpg" class="img" 
(click)="openVideo()">
    <div class="video-overlay">
 <i class="fas fa-play-circle"></i>
</div>
</div>
</div>

<div class="img-cont">
 <img src="assets/images/6.jpg" class="img2">  
<img src="assets/images/8.jpg" class="img2">
</div>
</div>
</div>
 
 
<div class="cont2">
<div class="note">

 <div class="title">
  Get To Know Our Agency And
 <span style="color:#fecc4e"> What We Are</span> 
 Offering
 </div>

 
<div class="tab-box">

<button (click)="setActiveTab(1)"
 [class.active]="activeTab === 1" class="tab-button">    
<h3 class="time">10</h3>
<h6 style="font-size: 18px;
font-family:Montserrat,sans-serif;">Year Experience</h6>
</button>

<button (click)="setActiveTab(2)"
 [class.active]="activeTab === 2" class="tab-button">    
  <h3 class="time">100 + </h3>
  <h6 style="font-size: 18px;font-family:Montserrat,sans-serif;">
    Tour Guide</h6>
  </button>


  <button (click)="setActiveTab(3)" 
  [class.active]="activeTab === 3" class="tab-button">
  
      <h3 class="time">500 + </h3>
  <h6 style="font-size: 18px;font-family:Montserrat,sans-serif;">Travelar Connect</h6>
  </button>
</div>

<div class="tab-content">
  <div *ngIf="activeTab === 1">
    
    <p>One Duis rutrum nisl urna. Maecenas 
      vel libero faucibus nisi venenatis hendrerit a id lectus. Suspendissendt blandit 
      interdum.Sed pellentesque at nunc eget 
      consente consectetur.Duis rutrum nisl urna. Maecenas vel libero faucibus</p>
</div>
  <div *ngIf="activeTab === 2">
    
  <p>Two Duis rutrum nisl urna. Maecenas 
    vel libero faucibus nisi venenatis hendrerit a id lectus. Suspendissendt blandit 
    interdum.Sed pellentesque at nunc eget 
    consente consectetur.Duis rutrum nisl urna. Maecenas vel libero faucibus</p>
  </div>

  <div *ngIf="activeTab === 3">
  <p>Three Duis rutrum nisl urna. Maecenas 
    vel libero faucibus nisi venenatis hendrerit a id lectus. Suspendissendt blandit 
    interdum.Sed pellentesque at nunc eget 
    consente consectetur.Duis rutrum nisl urna. Maecenas vel libero faucibus</p>
  </div>
</div>

</div>
</div>
</div>


<div class="box2">
  
  <div class="cont1">

  <p class="note3">Our Completed Tours <br>
    In
    <span style="color:#fecc4e">Turio
      </span>
    </p>
      
<div class="div1">
  <div class="div2">
<h2 style="font-weight: 800;">500 +
<h6 style="padding-top:20px;font-size:20px;">Awesome Tour </h6>
    </h2>
  </div>
  <div class="div3">
  <p>Duis rutrum nisl urna. Maecenas vel libero
    <br> faucibus nisi venenatis hendrerit a id lectus.
    <br>Suspendissendt enlane molestie turpis nec
   <br>  lacinia vehicula.</p>

</div>
</div>

<div class="div1">
  <div class="div2">
    <h2 style="font-weight: 800;">300 +
    <h6 style="padding-top:20px;font-size: 
    20px;">Destination</h6>
    </h2>
  </div>
  <div class="div3">
  <p>Duis rutrum nisl urna. Maecenas vel libero
    <br> faucibus nisi venenatis hendrerit a id lectus.
    <br>Suspendissendt enlane molestie turpis nec
   <br>  lacinia vehicula.</p>

</div>
</div>

<div class="div1">
  <div class="div2">
    <h2 style="font-weight: 800;">150 +
    <h6 style="padding-top:20px;font-size: 
    20px;">Mountains</h6>
    </h2>
  </div>
  <div class="div3">
  <p>Duis rutrum nisl urna. Maecenas vel libero
    <br> faucibus nisi venenatis hendrerit a id lectus.
    <br>Suspendissendt enlane molestie turpis nec
   <br>  lacinia vehicula.</p>

</div>
</div>
</div>


<div class="cont2">

  <div class="img-cont3">
 <img src="assets/images/6.jpg" class="img3">  
<img src="assets/images/8.jpg" class="img3">
</div>
<div class="img-cont4">
<img src="assets/images/7.jpg"class="img4">  
 <img src="assets/images/9.jpg"class="img4">
</div>
</div>
</div>