.nav-link.active {
  background: #ffffff;
  font-size: 30px;
  font-weight: 600;
  box-shadow: 3px 5px 35px rgba(86, 68, 169, 0.1);
  color: #fecc4e;
}
.nav-link{
  color: #162b32;
}
.nav-item  {
  text-align: center;
  padding: 20px 12px;
  color: #162b32;
  min-width: 170px;
  cursor: pointer;
}
.about-tab-image-grid{
  height: 40vh;
}
.col-lg-6{
  display: relative;
  margin-top:30px;
}
.about-video{
  margin-top: 20px;
  width: 100%;
  height: 100%;            
  position: absolute;
  bottom: 0px;
  top: 0;
  left: 0px;
  align-items: center;
  justify-content: center;
}
.float-images{
  display: relative;
  margin-top: 270px;
  
}
.top_heading{
  display: inline-block;
  height: 80vh;
}

.tab-pane
{
  color:#5e5e5e;
}
.color{color:#FECC4E;}

.about-wrap-title{
    font-weight: 800;
    font-size: 45px;
    line-height: 60px;
    color: #2d373c;
    margin-top: 30px;
    font-family:"Montserrat",sans-serif;
}
.about-wrap-title2{
  font-weight: 800;
  margin-top:90px;
  font-size: 45px;
  color: #2d373c;
  font-family:"Montserrat",sans-serif;
}

.h3 
{
  font-size: 42px;
  font-weight: 800;
  font-family: "Monteserrat",sans-serif;}

.achievement-counter-card {
  transition: background-color 1s ease; 
}

.achievement-counter-card:hover {
  background-color: #fff;  
  border: none;  
}

.achievement-counter-card .para-info {
  width: 329px;
  height: 80px;
  color: rgb(102, 102, 102); 
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  margin-left: 30px;
  transition: color 0.3s ease;  
}
 
.achievement-counter-card:hover .para-info {
  color: #666;
}

.h2 {
  font-size: 35px;
  color: #FECC4E;  
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  transition: color 0.3s ease;
}

.h6 {
  font-size: 18px;
  color: #FECC4E;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  transition: color 0.3s ease;  
}
.achievement-counter-card:hover .h2,
.achievement-counter-card:hover .h6 {
  color: #212529;
  border: none; 
}


.nav-link{
  color: #162b32;
}
  .play-icon i {
  font-size: 30px;
  color: #ffffff;
  position: relative;
  z-index: 20;
}
.video-overlay {
  position: absolute; 
  top: 30%;
  left: 50%; 
  transform: translate(-50%, -50%); /* Center the overlay using transform */
  z-index: 10; 
}

 .video-overlay .play-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 53.11px;
    height: 53.11px;
    background: rgba(45, 55, 60, 0.6);
    border-radius: 50%;
    position: relative;
    z-index: 1;
    transition: all 0.25s;    
}

.about-main-wrappper .about-tab-wrapper .about-tab-image-grid .about-video {

  border-radius: 5px;
  overflow: hidden;
}
.about-main-wrappper .about-tab-wrapper .about-tab-image-grid .about-video .video-overlay {
  /* position: absolute; */
  inset: 0;
  background: rgba(83, 161, 92, 0.368627451);
  display: flex;
  align-items: center;
  justify-content: center;
}
.elementor img {
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.col-lg-5{
  position: relative;
}
.col-lg-6{
  position: relative;
}

.about-video{
  position:absolute;
  z-index:2;
}
.about-main-wrappper .about-tab-wrapper .about-tab-image-grid .about-video .video-overlay {
  
  inset: 0;
  background: rgba(83, 161, 92, 0.368627451);
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-main-wrappper .about-tab-wrapper .about-tab-image-grid .float-images {
  margin-top: -60px;
}
.about-main-wrappper .achievement-counter-wrap .achievement-counter-cards .achievement-counter-card {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  border:1px solid rgb(102,102,102);
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 30px;
  transition: all 0.35s ease-in-out;
}
.about-main-wrappper .achievement-counter-wrap .achievement-counter-cards .achievement-counter-card:hover {
border:none;
}
 
.about-main-wrappper .about-tab-wrapper .about-tab-image-grid img {
  width: 100%;
}

/*tour */
.box3 
{
  margin-top: 150px;
  height:720px;
  width:100%;
  background-color:#5e5e5e;
  font-family: "Montserrat",sans-serif;
}

.our-client
{
  height:66px;
  width:820px;
  color:#fff;
  font-size: 42px;
  padding-top:90px;
  padding-left:120px;
  font-weight: 800;
}
.para1
{
  height:66px;
  width:820px;
  color:#fff;
  font-size:16px;
  padding-top:50px;
  padding-left:120px  ;
}

.container1 {
  display: flex;
  position: relative;
  margin-top: 60px;
  width:80%;
  justify-content: center;
  margin-left:130px;
  overflow: hidden;
}

.item-container {
  display: flex;
  overflow: hidden;
  width:auto;
  height:auto;
    justify-content: flex-start; 
    scroll-behavior: smooth;
}.item {
  flex: 0 0 0; /* Show three items at a time (each item is 300px wide) */
  display: flex;
  width:100%;/*per card width*/
  margin-right:20px;
}
.prev-btn, .next-btn {
  background-color:#FECC4E;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
  position: absolute;
  height:30px;
  width:30px;
  border-radius:50%;
  top:20px;
  right:20px;
  transform: translateY(-50%);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prev-btn {
  right:105px; }

  .next-btn {
    right:50px;}
  .arrow{font-size:0.6rem;}

  .prev-btn:hover, .next-btn:hover {
    color: rgba(0, 0, 0, 0.8);
  }

  .card5 {
    height:390px;
    background:#00152b;
    border-radius:5px;
    margin-top:45px;
    transition: transform 0.3s ease;
    color:#f6f2f2;
    cursor: pointer;
    flex-direction: column;
  margin-left:18px;
    width: 23rem;
}

.A {
  display: flex;
    align-items: center;
  justify-content: flex-start; 
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
}

.user-photo {
  width: 60px;
  height: 60px; 
  margin-left: 20px;
  margin-bottom:0px;
  border-radius: 50%; /* Makes the photo circular */
}
.user-name {
  font-size:20px;
  margin-left: 20px;
  font-weight: bold;
  
}

.rating {
  font-size: 20px;
  height: 29px;
  margin-left:100px;
  width: 158px;
  color: #FECC4E;
}
.review-text p {
  font-size:18px;
}

.review-text {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
.card5:hover,
.card5:hover .user-name,
.card5:hover .review-text,
.card5:hover .card-body {
  color: #000; /* Ensures all text turns black on hover */
  background-color: #fff;
}
/**/
.box4
{
  height:720px;
  width:100%;
  background-color:#fbfbfb;
}

/*tour guide*/
.para2
{
  color: #FECC4E;
  font-family: "Satisfy", cursive;
padding-top: 110px;
text-align: center;
}
.para3 
{
  color:#2d373c;
  font-weight: 800;
  font-size: 45px;
  text-align: center;
  font-family: "Montserrat",sans-serif;
}
.para4 
{
  height:66px;
  width:1340px;
  font-size: 16px;
  color:#666666;
  text-align: center;
}

.cont3
{
margin-left:30px;
  display: flex;
  align-items: center;
  text-align: center;
  height:350px;
  width:95%;
  margin-top:30px;
  gap:30px;
  flex-wrap: wrap;
  justify-content: center;
}
.card3 {
  border: none;
  display: flex;
  background-color:#ffffff;
  flex-direction:row;
  height:390px;
  width:390px;
  cursor: pointer;
  overflow: hidden;
  position:relative;
  transition: transform 0.6s ease-in-out;
}


.card3 :hover{
transform: scale(1.02);  
}

.card2-img-top {
  height:300px;
  width:100%;
  transition: transform 0.2s ease;
    z-index: 1;
}
.image-container {
  position: relative; 
  width: 100%;
  height: 100%;
  overflow: hidden; }
  
/* The image itself */
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  }

  .text-overlay {
position: absolute;
top:0%;
left: -100%; /* Initially hidden, positioned to the left */ 
color: #fff;
opacity: 0;
height:200px;
background-color: rgb(238, 225, 225);/* Semi-transparent background */
padding: 10px;
width: 200px; /* Width of the overlay text box*/ 
transition: all 0.3s ease; 
/* Smooth transition for hover effect*/ 
}

.image-container:hover .text-overlay {
left: 0; /* Move the text box to the left */
opacity: 1; /* Make the text visible */
height:600px;
width:50px;
}

.twitter-icon-container {
  display: flex;
  justify-content: center;
  align-items: center; 
    width: 30px; 
  height:30px;
  color:#FECC4E;        
  background-color:#ffffff; 
  border-radius: 50%;     
  border: 2px solid transparent; /* Optional: add a border with Twitter's blue color */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional: shadow for extra effect */
  margin-bottom:15px;}
  

.social-icons1 {
  justify-content: center;
  align-items: center;
  gap:20px; /* Space between icons */
margin-top:30px;
cursor: pointer;
padding-right: 10px;
}

.social-icons1 span{
margin-right: 10px;
border: 2px solid transparent;
font-size:15px;
padding:4px;
cursor: pointer;
transition: color 0.3s ease;
border-radius:200px;

}

.social-icons1 span:hover {
background-color: #FECC4E;
color:#fff;/* Example hover color */
}
.title2 
{
  height:27.52px;
  width:340px;
color:#2d373c;
font-size: 23px;
font-family: "Montserrat",sans-serif;
}
.tg{
  font-size:18px;
  color:#666666;
  font-family: "Montserrat",sans-serif;
}

.box5
{
  height:700px;
  width:100%;
  background-color:#fbfbfb;
}
.cont4 
{
    height:400px;
    width:100%;
    margin-bottom:30px;
    justify-content: center;
    align-items: center;
    background-color:#fef9f9;
    margin-top:20px;
    display: flex;
    flex-wrap: wrap; /* Allows cards to wrap to next row */
    gap:20px; /* Space between the cards */
    justify-content: center;  /* Center horizontally */
}
.card4 {
  border: none;
  background-color:#ffffff;
  height:360px;
  width:22rem;
  color:#2d373c;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  position: relative;
}

.card4-img-top {
height:250px;
width:100%;
transition: transform 0.2s ease;
  z-index: 1;
}
.card4:hover .badge {
  opacity: 1;
  visibility: visible;
}
.link-color
{color:#212529;
text-decoration: none;}
.card4-body {
font-size: 20px;
  padding: 1rem;
}
.card4-title {
  font-size:20px;
  padding-top:10px;
  color:#2d373c;
  font-weight:600;
  height:52px;
  text-decoration: none;
  width:304.31px;
  font-family:"Montserrat",sans-serif;
}
/* Apply the color changes on hover */
.card4-title:hover {
animation: color-change 3s infinite; /* Start the animation on hover */
}

/* Keyframes to change the text color in sequence */
@keyframes color-change {
0% {
color: #0000; /* First color */
}
35% {
color: #fcb900; /* Second color */
}
90% {
color:green; /* Third color */
}
100% {
color: #000; /* Loop back to the first color */
}
}
.badge4 {
  position: absolute;
  top:200px;
  left: 20px;
  background-color: #FECC4E;
  font-size:15px;
  font-weight:600;
  color: #fff;
  border-radius:5px;
  font-family: "Montserrat",sans-serif;
  padding:5px 12px;
  opacity: 1;  /* Keep it visible */
  visibility: visible;  /* Ensure it's always visible */
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 2;  /* Keep the badge on top of the image */
}
.card4-img-top:hover 
{
  transition: transform 0.2s ease;
  transform: scale(1.1);  /* Zoom in by 10% */
}

/* Style for smaller icons */
.f-sm {
font-size: 0.8rem;  /* Adjust the size to make the icons smaller */
}

.user 
{
  font-size:15px;
  font-weight:650;
  margin-left:10px;
  color:#696969;
  height:23.5px;
  font-family: "Montserrat",sans-serif;
  width:81.81px
}
.i 
{
font-size:16px;
margin-left:15px;
font-weight: 650;
color:#FECC4E;
 
}
/*tour*/
.box6
{
  height:430px;
  background-color:#fbfbfb;
  width:100%;

}
.container2 
{
  height:350px;
  width:97%;
  padding-top:20px;
  justify-content: center;
  background-color:#fbfbfb;
  display: flex;
  overflow: hidden;
  margin-left: 20px;
}

.card2{

  display: flex;
  flex-direction:row;
  border:none;
  height:250px;
  border-radius: 150px;
  width:250.67px;
  z-index:2;
  margin:15px;
  position: relative;
  display: inline-block;
}

.card3-img-top {
  height:250px;
border-radius:8px;
  width:100%;
  transition: transform 0.8s ease;
    z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
   /* Semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; 
  z-index: 2;
}
.card2 .overlay svg {
  width: 50px; /* Decrease the width */
  height:50px; /* Decrease the height */
}


.card2:hover .overlay {
  opacity: 1;
}



/*cont for footer*/
.box7 
{
  height:400px;
  width:100%;
  background-color:#212529;
}
.cont5
{
  height:300px;
  width:90%;
  margin-left:110px;
  margin-top:30px;
background-color:#212529;
}

.h4
{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 40px;
}
.h5
{
  font-family: "Montserrat", sans-serif;
  font-weight:800;
  font-size:20px;
  color:#fff;
}

.follow
{
  font-weight:800;
  font-size:20px;
  font-family: "Montserrat", sans-serif;
}

.paragraph
{
  font-family:"Montserrat", sans-serif;
  font-weight:500;
}

/*design last box*/
.e
{
  height:60px;
  text-align: center;
  padding-top:20px;
  color:#ffffff;
  background-color:#162b32;
  font-size:16px;
width:100%;
}
/*for dot*/
ul.list-unstyled li a {
  text-decoration: none;
  color: #fcb900;
  position: relative; 
  display: inline-flex; 
  padding-left:2px; 
  align-items: center; 
  padding-right: 25px;
  transition: transform 0.4s ease-in-out; 
}
ul.list-unstyled li a::before {
  content: ''; 
  position: absolute;
  
  left: -12px;
  width: 6px;
  height:6px;
  border-radius: 70%; 
  background-color: #fcb900; 
  opacity: 0; 
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition for dot */
}
ul.list-unstyled li a:hover {
  color: #fcb900; 
  transform: translateX(10px);
}
/* Show the dot on hover */
ul.list-unstyled li a:hover::before {
  opacity: 1; 
  transform: translateX(9px); 
}