.background
{
  display:block;
  height:100vh;
  background-image: url('/assets/images/background.jpg');
  background-size: cover;
  background-position:center;
  margin-bottom: 40px;
}

.center-button
 {
  display: block; /* Makes the button a block element */
  margin:auto;
}

.center-button:hover
 {
color:#FECC4E;
background-color: black;
}

.navbar-brand {
  display: flex;
  flex-direction: column; /* Stack brand text and subtext */
  align-items: center;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.brand-text {

  font-size: 0.75rem; /* Adjust size as needed */
  color: #FECC4E;/* Subtle color for the text */
}

.navbar-nav .nav-link {
  transition: background-color 0.3s, color 0.3s;
  color:green;
  font-size:20px;
}

.navbar-nav .nav-link:hover {
  background:#9acd32;; /* Hover effect */
  color:blue;/* Change text color on hover */

}

.find-button
 {
  display: block; /* Makes the button a block element */
  margin:auto;
}

.find-button:hover
 {
color:#FECC4E;
background-color: black;
}

.flex-container {
  display: flex;
  justify-content: space-between; /* Adjusts space between items */
  align-items: center; /* Centers items vertically */
  margin: 20px;
}

.input-field {
  flex: 1; /* Makes the input fields take equal space */
  margin: 0 10px; /* Adds horizontal spacing */
}