.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2f3032;
}


.navbar-brand {
  display: flex;
  flex-direction: column; /* Stack brand text and subtext */
  align-items: center;
  font-size:27px;
  font-weight:800;
  color:#fff;
  font-family:"Montserrat", sans-serif;
}

.search-icon {
  color: #fff;
  cursor: pointer;
  margin-left: auto;
  position: absolute;
  right:55px; /* Adjust to your preferred distance from the right edge */
  top:49%; /* Vertically center the icon */
  transform: translateY(-50%); /* Corrects any minor vertical misalignment */
}

.circle 
{
 
background-color:transparent;
width:50px;
height:50px;
border-radius: 50%; /* Makes it circular */
display: flex;
justify-content: center;
align-items: center;
transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth transition for hover */
overflow: hidden; /* Hide any overflow from inside the circle */
}


.circle:hover 
{
  background-color:#fecc4e;
}


.navbar-nav .nav-link {
  font-size:14px;
  font-weight:700;
  font-family: "Montserrat",sans-serif;
  color:#ffff;
  display: block;
  position:relative;
}

.navbar-nav .nav-link:hover {
   /* Hover effect */
  color:#fecc4e;/* Change text color on hover */
  
}


.flex-container {
  display: flex; /* Enable Flexbox */
  justify-content: space-around; /* Distribute space around items */
  width:80%;
  margin-left:10%;
  justify-content: center; 
  align-items: center;
}

.flex-item {
  background-color:#fff; /* Background color */
  padding:20px; /* Padding */
  border: 1px solid gray; /* Border */
  flex: 1; /* Grow to fill space */
  margin:0px; /* Space between items */
  text-align-last: left; /* Center text */
  font-family: "Montserrat",sans-serif;
  font-size: smaller;
  width:10px;
}


.last-button {
display: block; /* Makes the button a block element */
margin: 0 auto; /* Centers the button */

}

.last-button:hover
{
color:#fecc4e;
background-color: black;
}
.social-icon {
display: inline-flex;
justify-content: center;
align-items: center;
width: 40px; /* Width of the circle */
height: 40px; /* Height of the circle */
border: 2px solid #fcb900; /* Yellow outline */
border-radius: 50%; /* Makes the shape circular */
color:#ffff;/* Icon color */
margin: 0 5px; /* Space between icons */
background-color: #fcb900; /* Background color */
transition: background-color 0.3s;
}

.social-icon:hover {
background-color:black; /* Light yellow on hover */
}


.brand-text
{
  color:#fcb900;
  font-size: 14px;
}
.navbar-brand:hover 
{
  color: #fff;
}