<div class="cont1">
  <div class="cont2">
  <div class="img-cont">
    <img src="/assets/images/e.jpg" 
    class="img-cont" alt="Tour Image">
  </div>
  
<div class="content">
<h2 class="content-head">Tours In Paris</h2>
<p class="content-details">
  Duis rutrum nisl urna. Maecenas vel libero faucibus nisi venenatis hendrerit a id lectus. Suspendissendt blandit interdum. Sed pellentesque at nunc eget consente Duis rutrum nisl urna. Maecenas vel libero faucibus nisiteden venenatis hendrerit a id lectus. Suspendissendt blandit interdum. Sed pellentesque at nunc eget consente andit consectetur.Duis rutrum nisl urna. Maecenas vel libero faucibus nisi venenatis hendrerit a id lectus. Maecenas Suspendissendt blandit interdum. libero faucibus nisi venenatis hendrerit a id lectus. Suspendissendt blandit interdum.
</p>

<p class="content-details">
Sed pellentesque at nunc consectetur.Duis rutrum nisl urna. Maecenas vel libero faucibus nisi venenatis hendrerit a id lectus. Suspendissendt blandit interdum. Sed pellentesque at nunc consectetur.Duis rutrum nisl urna. Maecenas vel libero faucibus nisi venenatis hendrerit a id lectus. Suspendissendt blandit interdum. Sed pellentesque at nunc consectetur.Duis rutrum nisl urna
</p>

<img src="/assets/images/destination.jpg" alt="Tour Image" class="destination-img">
</div>


<div class="destination-table">
<h2 class="subtitle">Overview</h2>
<table class="table-overview">
<tbody>
  <tr>
  <th>Destination</th>
  <td>India</td>
  </tr>

  <tr>
    <th>Locations</th>
    <td>Mumbai-Delhi-Gujrat-Punjab</td>
    </tr>
    <tr>
      <th>Tour Duration</th>
      <td>8 Days</td>
      </tr>
      <tr>
        <th>Attraction</th>
        <td>India Gate visit</td>
        </tr>
</tbody>
</table>
</div>

<div class="destination-map">
  <h3>Map</h3>
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d773126.3466208713!2d-73.965441!3d40.805449!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f63c75af2d65%3A0xf45542f6cb090cc9!2s2880%20Broadway%2C%20New%20York%2C%20NY%2010025!5e0!3m2!1sen!2sus!4v1693316969321!5m2!1sen!2sus" 
allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
  </iframe> 
  </div>
     
  <!--cont1-close--></div>


  <div class="cont3"></div>
  
  
  
  
  </div>