<!---
        
  
        <div *ngIf="activeButton === 'button4'">
          <h3>Button 4 Content</h3>
          <p>{{ buttonData.button4 }}</p>
        </div>
  
      </div>
    </div>
  </div>
  
  
  <div class="cont7">
  <div class="head">All Tags</div>
    <button class="button" >Flying</button>
    <button class="button" >Holidays</button>
    <button class="button" >Feature</button>
    <button class="button" >Family Tour</button>
    <button class="button" >One Travel</button>
    <button class="button" >Trip</button>
    <button class="button" >Explore</button>
    <button class="button" >Instatravel</button>
    <button class="button" >Summer</button>
    <button class="button" >Beach</button>
    <button class="button" >Destination</button>
    <button class="button" >Travelling</button>
    <button class="button" >TourCity</button>
  
  </div>
  </div>-->