<html>
    <head>

    </head>
<body>
<div class="page3">
    <h4>OLFT – One Life For Travel</h4>
<h1 style="font-size:70px;font-weight:700;margin-top:80px;">That Page Are Not Found!</h1>
<h5>It looks like you've reached a URL that doesn’t exist.
 Please use the navigation above or
 <br> search below to find your way back to our amazing website.</h5>
<br><br>
 
 <a href="/" class="btn btn-warning home-button">
    <span><i class="fas fa-home"></i></span>  Go To Home </a>
</div>
                                                             

<!-- Main Content of the Website -->
<!-- Footer Section -->
<div class="cont2">
    <footer class="bg-dark text-light py-4">
      <div class="container">
          <div class="row">
              <div class="col-md-5">
               <b>   <h3 style="font-weight:800;font-size:50px;font-family: 'Poppins', sans-serif;">OLFT</h3>
                  <p>footer-vactor

                    Duis rutrum nisl urna. Maecenas vel libero faucibus nisi venenatis hendrerit a id 
                    lectus.
                     Suspendissendt molestie turpis nec lacinia vehicula.
                
                    <p>Working days : Monday-Friday
                    (9AM-5PM)
                    <h4>FOLLOW US ON :</h4></b>
        <span class="social-icon"><i class="fab fa-instagram"></i></span>
        <span class="social-icon"><i class="fab fa-facebook-f"></i></span>
        <span class="social-icon"><i class="fab fa-twitter"></i></span>
        <span class="social-icon"><i class="fab fa-linkedin-in"></i></span>
        <span class="social-icon"><i class="fab fa-whatsapp"></i></span>
        <span class="social-icon"><i class="fab fa-pinterest"></i></span>
    
      </div>
              <div class="col-md-2">
                  <h4>Quick Links</h4>
                  <ul class="list-unstyled">
                      <li><a href="#" class="text-light">Guid</a></li>
                      <li><a href="#" class="text-light">Blogs</a></li>
                      <li><a href="#" class="text-light">Contact Us</a></li>
                      <li><a href="#" class="text-light">Destination</a></li>
                      <li><a href="#" class="text-light">FAQ</a></li>
                      <li><a href="#" class="text-light">Gallery</a></li> </ul>
              </div>
    
              <div class="col-md-2">
                <h4>Tour Type</h4>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light">City Tour</a></li>
                    <li><a href="#" class="text-light">Hill Town </a></li>
                    <li><a href="#" class="text-light">Family</a></li>
                    <li><a href="#" class="text-light">Adventure</a></li>
                    <li><a href="#" class="text-light">Escorted Tour</a></li>
                    <li><a href="#" class="text-light">Couple</a></li> </ul>
            </div>
              <div class="col-md-2">
                  <h4>Contact Us</h4>
                  <span><i class="fas fa-phone"></i></span> 
                 + 91 123456789
                     <p> +91 109876556</p>
                  <p><i class="fas fa-envelope"></i> 
                    info&#64;example.com<br> info&#64;support.com</p>
                   <p><i class="fas fa-compass"></i>
                  168/170<br>Avenue 01 Mirpur DOHS,Bangladesh</p>
              </div>
          </div>
          <hr class="my-4">
          <div class="text-center">
              <p>&copy; 2024 Your Company. All Rights Reserved.</p>
              <p>Copyright 2024 Funstay | Design By Pvt. Ltd</p>
          </div>
      </div>
    </footer>
    </div>
    </body></html>
    
    
    
    
    
    
    
    
      