
.background
{
  background-image: url('/assets/images/1.jpeg');
  background-size: cover;
  background-position:center;
    display: flex;  
    align-items: center;
    justify-content: center;
     width: 100%;
     height:100vh;
     margin-bottom: 16px;
     position: relative; 
}

.center-button
 {  
  display: block; 
  margin:auto;
  border:2px solid transparent;
  text-align: center;
  font-family: "Montserrat",sans-serif;
font-size: 16px;
font-weight:600;
height:44px;
background-color:#FECC4E;
width:156.33px;
color: #161616;
}
.center-button:hover
 {
color:#FECC4E;
background-color: #161616;
}

.flex-container {
    display: flex;
    width:80%;
    margin-left: 130px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding:16px;
    background-color: #fff;
    border: 1px solid #fff;
}

  .flex-item {
    flex: 1 1 calc(20% - 10px); 
    max-width: calc(22% - 10px);
    box-sizing: border-box; 
    background-color:#fff;
    padding:7px;
    border: 1px solid #ccc;
    text-align:start;
    font-family: "Montserrat", sans-serif;
    color: #212529;
    font-weight:600;
    height:80px;
    font-size:14px;
  }
  
  .flex-country,
  .form-control {
    width: 90%;
    overflow-y: auto;
    padding: 8px;
    font-size: 12px;
    color: #6c757d;
    background-color: #fff;
    border: 1px solid transparent;
    font-weight:600;
    outline: none;
  }
  .find-button {
    display: inline-block;
    background-color: #FECC4E;
    color: #212529;
    text-decoration: none;
    font-weight: 700;
    width:100%;
    height:100%;
    padding-top:15px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
  }
  .find-button:hover {
    background-color: #FECC4E;
    color:#212529;
  }
  
  @media screen and (max-width: 1024px) {
    .flex-item {
      flex: 1 1 calc(50% - 20px); 
      max-width: calc(50% - 20px);
    }
  }
  
  @media screen and (max-width: 768px) {
    .flex-item {
      flex: 1 1 100%; 
      max-width: 100%;
    }
  }

  .Package-container {
    overflow: hidden;
    padding: 10px;
    background-color: #6f6f6f;
  }
  .up {
    padding-top:90px;
    font-size:35px;
    height:45px;
    padding-left:95px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
  }
  
  .up1 {
    font-size: 16px;
    padding-left:95px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin-top:60px; 
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden; 
    width: 100%;
    padding:5px;
  }
.cont1 {    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-top: 30px;
    overflow-x:hidden; 
    scroll-behavior: smooth; 
  }

 .card-img-top {
    height: 230px; 
    width: 100%; 
    object-fit: cover; 
  }
  
  .f-sm {
    font-size: 0.6rem;
  }
  
.badge {
  position: absolute;
  height:42px;
  font-weight:520;
  justify-content: center;
  text-align: center;
  width:160px;
  padding: 13px 20px;
  margin-left:90px;
  margin-top:210px ;
  background-color: #FECC4E;;
  color:#2d373c;
  font-size:16px;
  font-family: "Barlow",sans-serif;
  border-radius:20px;
  visibility: visible; 
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 2; }


.card-body {
  padding: 1rem;
}
.card-title {
  font-size:18px;
  color:#454545;
  padding-top:20px;
  font-weight: 600;
  font-family: 'Montserrat',sans-serif;
}
a.book-button
{ color:#161616;
    font-weight:550;
    background-color:#FECC4E;
    border: none;
    font-family: "Montserrat", sans-serif ;
    padding:10px 11px;
    font-size: 16px;
    margin-top: 10px;
}

a.book-button:hover
{
background-color:#000000 ;
color:#FECC4E;} 

.start
{
    margin-left:100px;
    font-size:16px;
    font-style:'Barlow',sans-serif;
    color: #2d373c;
    font-weight:500;
  }
  .perperson
  {
    margin-left:240px;
    font-size:14px;
    font-weight:500;
    font-style:'Barlow',sans-serif;
    color:#3d474c;
  }

  a.book-button
      { color:#161616;
          font-weight:600;
          background-color:#FECC4E;
          border: none;
          font-family: "Montserrat", sans-serif ;
          padding:6px 10px;
          font-size: 16px;
      }

  a.book-button:hover{
    background-color:#000000 ;
    color:#FECC4E;} 

.view-button{
 display: block; 
 padding:9px;
 margin-left: 600px;
 margin-top: 50px;
 border:none;
 font-family: "Montserrat", sans-serif ;
 font-weight: 600;
 background-color: #FECC4E;;
 text-align: center;
height:42px;
color:#2d373c;
font-size:16px;
 width:160px;
}

.view-button:hover
{
color:#fcb900;
background-color: black;
}
.arrow
{
  font-size:0.7rem;
} 

.prev-btn, .next-btn {
  background-color:#FECC4E;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  height:30px;
  width:30px;
  border-radius:50%;
  top:15px;
  right:20px;
  transform: translateY(-50%);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev-btn {
right:105px;
}

.next-btn {
  right:50px;
}

.prev-btn:hover, .next-btn:hover {
  color: rgba(0, 0, 0, 0.8);
}



/*join css*/
.join 
{
  height:350px;
  width:100%;
  background-color:#6c757d;
}
.join p
{ 
    font-family:"Barlow", Sans-serif;
    font-size:45px;
    font-weight:800;
    padding-top: 80px;
    color:#ffffff;
    }

.join h6
{
  font-family:"Barlow", Sans-serif;
font-size:16px;
font-weight: 400;
color:#ffffff;
}
.join-now
{
 border: none;
 font-weight: 600;
 height:46px;
 justify-content: center;
 text-align: center;
 width:140px;
  background-color:#FECC4E;
  color:#000000; 
}
.join-now:hover 
{
   background-color:#000;
  color:#FECC4E;
} 