
.background
{
  background-image: url('/assets/images/1.jpeg');
  background-size: cover;
  background-position:center;
    display: flex;  
    align-items: center;
    justify-content: center;
     width: 100%;
     height:100vh;
     margin-bottom: 16px;
     position: relative; 
}

.center-button
 {  
  display: block; /* Makes the button a block element */
  margin:auto;
  border:2px solid transparent;
  text-align: center;
  font-family: "Montserrat",sans-serif;
font-size: 16px;
font-weight:600;
height:44px;
background-color:#FECC4E;
width:156.33px;
color: #161616;
}
.center-button:hover
 {
color:#FECC4E;
background-color: #161616;
}

.flex-container {
    display: flex;
    width:80%;
    margin-left: 130px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding:16px;
    background-color: #fff;
    border: 1px solid #fff;
}

  .flex-item {
    flex: 1 1 calc(20% - 10px); 
    max-width: calc(22% - 10px);
    box-sizing: border-box; 
    background-color:#fff;
    padding:7px;
    border: 1px solid #ccc;
    text-align:start;
    font-family: "Montserrat", sans-serif;
    color: #212529;
    font-weight:600;
    height:80px;
    font-size:14px;
  }
  
  .flex-country,
  .form-control {
    width: 90%;
    overflow-y: auto;
    padding: 8px;
    font-size: 12px;
    color: #6c757d;
    background-color: #fff;
    border: 1px solid transparent;
    font-weight:600;
    outline: none;
  }
  .find-button {
    display: inline-block;
    background-color: #FECC4E;
    color: #212529;
    text-decoration: none;
    font-weight: 700;
    width:100%;
    height:100%;
    padding-top:15px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
  }
  .find-button:hover {
    background-color: #FECC4E;
    color:#212529;
  }
  
  @media screen and (max-width: 1024px) {
    .flex-item {
      flex: 1 1 calc(50% - 20px); /* 2 items per row */
      max-width: calc(50% - 20px);
    }
  }
  
  @media screen and (max-width: 768px) {
    .flex-item {
      flex: 1 1 100%; /* 1 item per row */
      max-width: 100%;
    }
  }

  .card-img-top {
    height: 230px; 
    width: 100%; 
    object-fit: cover; 
  }
  
  .Package-container {
    background-color: #6f6f6f;
    height: 879px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    padding: 0 20px;
  }
  
  .up {
    padding-top:90px;
    font-size:35px;
    height:42px;
    padding-left: 65px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
  }
  
  .up1 {
    font-size: 16px;
    padding-left: 65px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin-top:60px; 
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden; 
    width: 100%;
    padding: 10px;
  }
  
  .item-container {
    overflow-x: auto; 
    display: flex;
    margin-top:40px;
    scroll-behavior: smooth; 
    gap: 16px; 
  }
  
  .f-sm {
    font-size: 0.6rem;
  }
  

 
.badge {
  position: absolute;
  height:42px;
  font-weight:520;
  justify-content: center;
  text-align: center;
  width:160px;
  padding: 13px 20px;
  margin-left:90px;
  margin-top:210px ;
  background-color: #FECC4E;;
  color:#2d373c;
  font-size:16px;
  font-family: "Barlow",sans-serif;
  border-radius:20px;
  visibility: visible;  /* Ensure it's always visible */
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 2;  /* Keep the badge on top of the image */
} 

.card-body {
  padding: 1rem;
}
.card-title {
  font-size:18px;
  color:#454545;
  padding-top:20px;
  font-weight: 600;
  font-family: 'Montserrat',sans-serif;
}
a.book-button
{ color:#161616;
    font-weight:550;
    background-color:#FECC4E;
    border: none;
    font-family: "Montserrat", sans-serif ;
    padding:10px 11px;
    font-size: 16px;
    margin-top: 10px;
}

a.book-button:hover
{
background-color:#000000 ;
color:#FECC4E;} 

.start
{
    margin-left:50px;
    font-size:16px;
    font-style:'Barlow',sans-serif;
    color: #2d373c;
    font-weight:500;
  }
  .perperson
  {
    margin-left:200px;
    font-size:14px;
    font-weight:500;
    font-style:'Barlow',sans-serif;
    color:#3d474c;
  }

  
  a.book-button
      { color:#161616;
          font-weight:600;
          background-color:#FECC4E;
          border: none;
          font-family: "Montserrat", sans-serif ;
          padding:6px 10px;
          font-size: 16px;
      }
  a.book-button:hover
  {
    background-color:#000000 ;
    color:#FECC4E;} 
    .view-button
{
 display: block; /* Makes the button a block element */
 margin:60px 600px;
 padding:9px 25px;
 border:none;
 font-family: "Montserrat", sans-serif ;
 font-weight: 600;
 background-color: #FECC4E;;
 text-align: center;
height:42px;
color:#2d373c;
font-size: 16px;
 width:162.58px;
}

.view-button:hover
{
color:#fcb900;
background-color: black;
}
.arrow
{
  font-size:0.7rem;
} 


.prev-btn, .next-btn {
  background-color:#FECC4E;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  height:30px;
  width:30px;
  border-radius:50%;
  top:9px;
  right:20px;
  transform: translateY(-50%);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev-btn {
right:105px;
}

.next-btn {
  right:50px;
}

.prev-btn:hover, .next-btn:hover {
  color: rgba(0, 0, 0, 0.8);
}

/*join box*/

.join 
{
  height:350px;
  width:100%;
  background-color:#6c757d;
}

.h2{ 
font-family:"Barlow", Sans-serif;
font-size:45px;
font-weight:800;
height:54px;
width:639.92;
color:#ffffff;
padding-top:100px;
padding-left:200px;
}
.h3 
{
  font-family:"Barlow", Sans-serif;
font-size:16px;
font-weight: 400;
color:#ffffff;
padding-top:50px;
padding-left:210px;
}
/*cont for join now box*/
.join-now
{
 border: none;
 font-weight: 600;
 height:46px;
 justify-content: center;
 padding-top: 10px;
 text-align: center;
 margin-top:120px;
 width:140px;
  background-color:#FECC4E;
  color:#000000;
  
}
.join-now:hover 
{
   background-color:#000;
  color:#FECC4E;
}

.our{
  font-size:45px;
  padding-top:17px;
  font-family:'Barlow',sans-serif;
  font-weight:800;
  color: #2d372d;
  height:540x;
  width:820px;
  margin-left:280px;
  }
  .guide
  {
    font-size:16px;
    height:38px;
    width:820px;
    font-family:'Montserrat',sans-serif;
    color:#666666;
    text-align: center;
    padding-bottom: 0px;
    margin-left:290px;
  }
  .title2 
  {
    height:27.52px;
    width:340px;
  color:#2d373c;
  font-size: 23px;
  font-family: "Montserrat",sans-serif;
  }
  .tg{
    font-size:18px;
    color:#666666;
    font-family: "Montserrat",sans-serif;
  }
  
  .card2-img-top {
    height:300px;
    width:100%;
    transition: transform 0.2s ease;
      z-index: 1;
  }
  /*our*/
  
    .box3 
    {
    width: 100%;
    height:550px;
    text-align: center;
    background-color:#fef9f9;
  
    }
    .cont3
  {
  margin-left:40px;
    display: flex;
    align-items: center;
    text-align: center;
    height:350px;
    width:100%;
    gap:30px;
    flex-wrap: wrap;
    justify-content: center;
  }