
.background
{
  background-image: url('/assets/images/1.jpeg');
  background-size: cover;
  background-position:center;
    display: flex;  
    align-items: center;
    justify-content: center;
     width: 100%;
     height:100vh;
     margin-bottom: 16px;
     position: relative; 
}

.center-button
 {
  display: block; /* Makes the button a block element */
  margin:auto;
  border:2px solid transparent;
  text-align: center;
  font-family: "Montserrat",sans-serif;
font-size: 16px;
font-weight:600;
height:44px;
background-color:#FECC4E;
width:156.33px;
color: #161616;
}
.center-button:hover
 {
color:#FECC4E;
background-color: #161616;
}

.flex-container {
    display: flex;
    width:80%;
    margin-left: 130px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding:16px;
    background-color: #fff;
    border: 1px solid #fff;
}

  .flex-item {
    flex: 1 1 calc(20% - 10px); 
    max-width: calc(22% - 10px);
    box-sizing: border-box; 
    background-color:#fff;
    padding:7px;
    border: 1px solid #ccc;
    text-align:start;
    font-family: "Montserrat", sans-serif;
    color: #212529;
    font-weight:600;
    height:80px;
    font-size:14px;
  }
  
  .flex-country,
  .form-control {
    width: 90%;
    overflow-y: auto;
    padding: 8px;
    font-size: 12px;
    color: #6c757d;
    background-color: #fff;
    border: 1px solid transparent;
    font-weight:600;
    outline: none;
  }
  .find-button {
    display: inline-block;
    background-color: #FECC4E;
    color: #212529;
    text-decoration: none;
    font-weight: 700;
    width:100%;
    height:100%;
    padding-top:15px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
  }
  .find-button:hover {
    background-color: #FECC4E;
    color:#212529;
  }
  
  @media screen and (max-width: 1024px) {
    .flex-item {
      flex: 1 1 calc(50% - 20px); /* 2 items per row */
      max-width: calc(50% - 20px);
    }
  }
  
  @media screen and (max-width: 768px) {
    .flex-item {
      flex: 1 1 100%; /* 1 item per row */
      max-width: 100%;
    }
  }
  


  /*upcoming tour*/

.Packages_Container 
{
  background-color: #6f6f6f;
  height:879px;
  width:100%;  
  font-family:'Montserrat', sans-serif; 
}
.up1 
{
font-size:16px;
padding-left:122px;
color:#fff;
font-family:'Montserrat',sans-serif; 
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
  }

  .item-container {
    display: flex;
    overflow-x: auto;
    width:100%;
    height:auto;
      justify-content: flex-start; 
      scroll-behavior: smooth;
        scrollbar-width: none; 
      }

      .item-container::-webkit-scrollbar {
        display: none; 
      }
  .item {
    display: flex;
    width:300px;
    margin-right:20px;
      flex: 0 0 calc(33.333% - 20px);
      margin-right: 20px; 
    }
  @media (min-width: 576px) {
    .item {
      width: calc(50% - 20px); 
    }
  }
  
  @media (min-width: 992px) {
    .item {
      width: calc(33.333% - 20px); 
       
    }
  }
  .prev-btn, .next-btn {
    background-color:#FECC4E;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    position: absolute;
    height:30px;
    width:30px;
    border-radius:50%;
    top:20px;
    right:20px;
    transform: translateY(-50%);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .prev-btn {
  right:105px;
  }
  
  .next-btn {
    right:50px;
  }
  
  .prev-btn:hover, .next-btn:hover {
    color: rgba(0, 0, 0, 0.8);
  }
  .arrow
  {
    font-size:0.7rem;
  } 
  
          .card {
            border: none;
            background-color:#f7f7f7;
            margin-top:40px;
            height:400px;
            width:100%;
            border-radius:10px;
            cursor: pointer;
            font-family: "Montserrat",sans-serif;
    transition: transform 0.2s ease;
            overflow: hidden;
            position:relative;
   }
  .startfrom
  {
    margin-left:80px;
    font-size:16px;
    font-style:'Barlow',sans-serif;
    color: #2d373c;
    font-weight:500;
  }
  .perperson
  {
    margin-left:200px;
    font-size:14px;
    font-weight:500;
    font-style:'Barlow',sans-serif;
    color:#3d474c;
  }
      .card-img-top {
            border-top-left-radius:0px;
            border-top-right-radius: 10px;
            object-fit: cover;
            height:250px;
            width:100%;
            transition: transform 0.2s ease;
            z-index: 1;
        }
    
        .card-body {
            padding: 1rem;
        }
        .card-title {
            font-size:18px;
            color:#454545;
            padding-top:20px;
            font-family: 'Montserrat',sans-serif;
        }
  
        .badge {
            position: absolute;
            height:42px;
            font-weight:520;
            justify-content: center;
            text-align: center;
            width:170px;
            padding: 13px 20px;
            margin-left:90px;
            margin-top:230px ;
            background-color: #FECC4E;;
            color:#2d373c;
            font-size:16px;
            font-family: "Barlow",sans-serif;
            border-radius:20px;
            visibility: visible; 
            transition: opacity 0.3s ease, visibility 0.3s ease;
            z-index: 2;  
        } 
  
    a.book-button
        { color:#2d373c;
            font-weight:600;
            background-color:#FECC4E;
            border: none;
            font-family: "Montserrat", sans-serif ;
            font-size: 16px;
        }
  
        a.book-button:hover
      {
        background-color:#2d373c ;
        color:#FECC4E;} 
  
  .view-button
  {
   display: block; 
   margin:60px 600px;
   padding:9px 25px;
   border:none;
   font-family: "Montserrat", sans-serif ;
   font-weight: 600;
   background-color: #FECC4E;;
   text-align: center;
  height:42px;
  color:#2d373c;
  font-size:15px;
   width:163px;
  }
  @media (min-width: 768px) {
    .prev-btn, .next-btn {
      bottom: unset;
      top: 50%;
    }
  }
  
  .view-button:hover
  {
  color:#fcb900;
  background-color: black;
  }
  
 