<div class="background">
    <a href="/tour" class="btn btn-warning center-button">Explore Now
    </a>
    </div>
    <div class="flex-container">
        <!-- Destination -->
        <div class="flex-item">
          <span class="flex-item-color">
            <i class="fa fa-flag-checkered"></i></span> Destination
          <select class="flex-country">
            <option value="" disabled selected>Where Are You Going?</option>
            <option value="Belgium">Belgium</option>
            <option value="Cambodia">Cambodia</option>
            <option value="China">China</option>
            <option value="Cuba">Cuba</option>
            <option value="England">England</option>
            <option value="Grand Canyon">Grand Canyon</option>
            <option value="India">India</option>
            <option value="New Zealand">New Zealand</option>
            <option value="Paris">Paris</option>
            <option value="America">United States of America</option>
          </select>
        </div>
      
        <div class="flex-item">
          <span class="flex-item-color">
            <i class="fa fa-suitcase"></i></span> Travel Type
          <select class="flex-country">
            <option value="" disabled selected>All Activity</option>
            <option value="Adventure">Adventure</option>
            <option value="City Tour">City Tour</option>
            <option value="Couple">Couple</option>
            <option value="Escorted Tour">Escorted Tour</option>
            <option value="Family">Family</option>
            <option value="Hill Town">Hill Town</option>
          </select>
        </div>
      
        <div class="flex-item">
          <span class="flex-item-color">
            <i class="fa fa-clock"></i></span> Duration
          <input type="text" class="form-control" placeholder="Please type duration">
        </div>
      
        <div class="flex-item">
          <span class="flex-item-color">
            <i class="fa fa-map-marker"></i>
          </span> Journey Date
          <input type="date" class="form-control">
        </div>
      
        <div class="flex-item">
          <a href="/destination" class="btn btn-warning find-button">Find Now</a>
        </div>
      </div>
    
      
<div class="Package-container">

  <p class="up">Upcoming Tours</p>
  <p class="up1">
    Unleash the Wanderlust Within You Crafting Dreams<br> into Unforgettable Journeys.</p>

      <div class="container">
        <button class="prev-btn" (click)="scrollPrev()">
          <span class="arrow"><i class="fas fa-arrow-left"></i></span></button>
        <button class="next-btn" (click)="scrollNext()">
         <span class="arrow"><i class="fas fa-arrow-right"></i></span>
        </button>
          
  <div  class="cont1" #scrollContainer>
            <div class="row gy-3">
 <div class="col-12 col-md-6 col-lg-4" *ngFor="let card of _packages ">
      
                <div class="card">
                  <span class="badge">
                    <i class="fa fa-clock"></i> {{formatDaysAndNights(card?.duration)}}
                  </span>
                  <img [src]="card.image" class="card-img-top" [alt]="card.title">
                  <div class="card-body">
                    <h5 class="card-title">{{ card.title }}</h5>
                    <a (click)="bookNow(card.pk_Package_id)" class="btn btn-warning book-button">Book Now
                      <span class="arrow">
                        <i class="fas fa-arrow-right"></i></span>    
                         </a>
                        <span class="start">Starting From</span>
                    <p class="perperson">per person</p>
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a href="/tour" class="btn btn-warning view-button">View All Offer
        </a>
    

    </div>
        
<!-- post

<div class="box3">
        <p class="up">Our Sherpas </p>
<p class="up1">
  Guiding You Beyond Maps: Your Personal Navigator to Unforgettable Adventures 
  <div class="cont3">
        <div class="row gy-3">
<div class="col-sm-6 col-md-4 col-lg-4" *ngFor="let guide of _tourguides">
              <img [src]="guide?.image" alt="Image" class="card2-img-top" [alt]="guide.captain">
              <div class="text-overlay">
                <div class="social-icons1">
        <span class="twitter-icon-container ">
    <a [href]="guide.insta" target="_blank">
    <i class="fab fa-instagram" aria-label="Instagram"></i></a>
      </span>
      <span class="twitter-icon-container">
       <a [href]="guide.insta" target="_blank">
      <i class="fab fa-facebook-f" aria-label="Facebook"></i></a>
      </span>
    <span class="twitter-icon-container">
     <a [href]="guide.insta" target="_blank">
    <i class="fab fa-whatsapp" aria-label="WhatsApp"></i></a>
    </span>
     <span class="twitter-icon-container">
    <a [href]="guide.insta" target="_blank">
    <i class="fab fa-twitter" aria-label="Twitter"></i></a>
                  </span>
                </div>
              </div>
            
            <div class="card-body">
              <h4 class="title2">{{ guide.captain }}</h4>
              <h4 class="tg">Tour Guide</h4>
            </div>
          </div>
        </div>
      </div> 
         -->

      <!--join box-->

      <div class="join">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-8 text-center text-md-start mt-4">
            <p>JOIN US FOR MORE UPDATES</p>
            <h6>
              Duis rutrum nisl urna. Maecenas vel libero faucibus nisi venenatis
              hendrerit a id lectus. <br>Suspendisse blandit interdum.
            </h6>
          </div>
          
          <div class="col-md-1 text-center text-md-end">
            <a href="#" class="btn btn-warning join-now ms-3">Join Now</a>
          </div>
        </div>
      </div>
      

