
.cont 
{
    height:auto;
    width:100%;
    background-color:rgb(228, 225, 225);
    display: flex;
    flex-wrap: wrap; /* Allows cards to wrap to next row */
    gap:10px; /* Space between the cards */
    justify-content: center;  /* Center horizontally */
}


        /* Custom card styles */
        .card {
            border: none;
            background-color:rgb(215, 210, 210);
            margin-top:70px;
            height:370px;
            width:400px;
            cursor: pointer;
            transition: all 0.3s ease;
            overflow: hidden;
            
             /* Vertical spacing between rows */
            position: relative;
        }

        .card-img-top {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            object-fit: cover;
            height:250px;
            width:100%;
            transition: transform 0.2s ease;
            z-index: 1;
        }
        .card:hover .badge {
            opacity: 1;
            visibility: visible;
        }

        .card-body {
        font-size: 20px;
            padding: 1rem;
        }
        .card-title {
            font-size:1.5rem;
            color:rgb(53, 40, 40);
        }
.card-title:hover{color:#ffc107;}

        .badge {
            position: absolute;
            top: 30px;
            left: 20px;
            background-color: #ffc107;
            font-size:1.03rem;
            padding: 12px 10px;
            opacity: 1;  /* Keep it visible */
            visibility: visible;  /* Ensure it's always visible */
            transition: opacity 0.3s ease, visibility 0.3s ease;
            z-index: 2;  /* Keep the badge on top of the image */
        }
        .card-img-top:hover 
        {
            transition: transform 0.2s ease;
            transform: scale(1.1);  /* Zoom in by 10% */
        }

        .book-button
        {
            color:black;
            font-weight:600;
        }
        .book-button:hover 
        {
            background-color: black;
            color: #ffc107;
        }

.cont2 
{
    width:100%;
}

.page
{
background-color:rgb(247, 246, 246);
height:150px;
text-align: center;
padding-top: 50px;
padding-left: 40px;
display: flex;
justify-content: center; /* Align buttons horizontally */
gap:20px; /* Creates space between each button */
}
.page-button
{
    color:black;
    background-color: aliceblue;
    border: 2px solid  #ffc107;
    font-size: medium;
}
.page-button:hover 
{
    background-color: #ffc107;
    color: aliceblue;
}





        