.img-cont {
  border-radius: 5px;
  width: 100%;
  max-width: 740px; 
  height: 497px;
  object-fit: cover; 
  margin-top: 40px;
}

@media (max-width: 768px) {
  .img-cont {
      max-width: 100%; 
      height: auto;
  }
}
.img-container {
  max-width: 740px; 
  margin: 0 auto; 
}

.user {
  font-size:15px;
  font-weight:600;
  color:#696969;
  font-family: "Montserrat",sans-serif;
  width:81.81px
}
.icon {
font-size:16px;
font-weight: 650;
color:#FECC4E;
}

.content{
background: #fefbfb;
font-family:"Montserrat",sans-serif;
}

.content-details {
font-size:16px;
color:#666666;
}

.content-bg{
    font-size:20px;
    font-weight:400;
    color:#666666;
    border:1px solid #ccc;
    background: #0ad97a1a;
    padding:50px;
    font-family: "Montserrat", sans-serif;
    border-radius: 10px;  
}
.content-head{
    font-size:32px;
    color:#2d373c;
    font-weight:500;
}

 .cat, .tag-name {
  text-decoration: none;
  color: #262339;
  padding:10px 10px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.tag , .category {
background-color:#f1f8f8;
border:none;
} 
ul {
list-style-type: none; 
padding: 0;
}

ul li a {
  text-decoration: none; 
  display: block;
  padding: 10px;
border:1px solid #ccc;
  color: #333; 
  font-size: 14px;
  font-weight: 500;
  margin:4px 4px;
  border-radius: 5px; 
  transition: background-color 0.3s ease;
}

ul li a:hover {
  background-color:#FECC4E;
    color: #fff;
}
.tags-item {
    display: flex; 
    flex-wrap: wrap;
    gap:5px; 
}
.comment {
        font-weight: 700;
        font-size: 24px;
        color: #2d373c;
        padding:15px;
        position: relative;
}
.email-note ,.required-mssge {
    padding:4px;
    color:#212529;
}

  .form-cont {
    background: white;
    padding:20px;
    height:830px;
    width:100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
.input-review {
  width:100%;
  padding: 12px;
  border-radius: 50px; 
  border: 1px solid #ccc;
  background-color:#f6fcf9;
  font-size: 14px;
  font-weight:600px;
  font-family: "Montserrat",sans-serif;
  box-sizing: border-box;
  color:#262339;
}

.textarea-review{ 
  width:100%;
  padding: 12px;
  border-radius:10px; 
  border: 1px solid #ccc;
  font-weight: 500;
  background-color:#f6fcf9;
  margin-top:0px;
  font-size: 16px;
  font-family: "Montserrat",sans-serif;
  box-sizing: border-box;
  color:#262339;
}

.submit-button{
height:auto;
width:auto;
padding:15px 21px;
background-color:#fecc4e;
color:#fff;
border:none;
font-weight: 700;
font-size:16px;
font-family: "Montserrat",sans-serif;
border-radius: 50px;
}

.submit-button:hover 
{
  color:#fff;
  background:#31ef7a;
}

input[type="checkbox"] {
    margin-right: 10px;
  }

.month{
background-color:#fbfbfb;
}

.month-name {
  font-weight:600;
  font-size: 22px;
  color: #2E2D31;
  padding: 10px 20px;
  font-family: "Montserrat",sans-serif;
  border-bottom: 1px solid #eeeeee;
}
.month-link{
  font-size:18px;
  border:none;
  font-family: "Montserrat",sans-serif;
  color:#fecc4e;
  font-weight: 500;
  text-decoration: none;
}
 .cat-item {
  list-style-type: none;
border:none;
  padding: 0; 
}

.cat-item2 {
  border: none;
  margin-bottom: 10px;
}

.cat-item3 a{
  display: inline-block;
  border: none;
  text-decoration: none; 
  color: inherit; 
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  border-radius: 50px;
  background-color: #f9f9f9;
  overflow: hidden;
  border:1px solid #666;
}

.search-input {
  flex: 1;
  border:none;
  outline: none;
  padding: 10px 15px; 
  font-size: 16px;
  border-radius: 50px 0 0 50px;
}
.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#fecc4e;
  color: #fff;
  font-weight: bold;
  padding: 8px 10px; 
  border:none;
  font-size: 16px;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-transform: uppercase;
}

.search-button:hover {
 color: #fecc4e;
 background-color: #2d373c;
}
.tags {
  font-size:23px;
  border-bottom: 1px solid #eeeeee;
  padding:10px;
  color: #3d3d3d;
  font-family: "Montserrat",sans-serif;
}
.button-container{
margin-left:19px;
}
.button {
  align-items: center;
  height:40px;
  width:90px;
  font-size: 12px;
  font-family: "Montserrat",sans-serif;
  color:#2d373c;
  background-color: #fff;
  border:1px solid #eeeeee;
}
.button:hover{
  background-color: #fecc4e;
  color:#fff;
}
.container {
  max-width: 1200px;
  margin:auto;
  padding:10px;
}
.widget-body {
  padding-top:20px;
}
.widget-body h4{
border-bottom: 1px solid #eee;
  font-weight: 600;
  font-size: 24px;
  padding:10px;
  color: #2d373c;
  margin-bottom: 20px;
}
.thumb img {
height:90px;
width:90px;
}
 .info-a {
  margin-left: 10px; 
  color:#2d373c;
  text-decoration: none;
}
 .thumb {
  display: flex;
  align-items: center;
  gap: 15px; 
}
.info {
  font-size: 0.9rem;
  color: #777;
  margin-left:100px;
}

.info .i {
  color:#fecc4e;
  margin-left: 10px;
}
.img3 ,.img2{
  box-sizing: border-box;
  display: block; 
  margin-bottom:0px;
  transition: opacity 0.5s ease,transform 0.5s ease;
  opacity: 1;
}
.img2:hover, .img3:hover {
  opacity: 0.8; 
  transform: scale(1.05); 
}