<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
  
<div class="background">
<a href="/tour" class="btn btn-warning center-button">Explore Now
</a>
</div>

<div class="flex-container">

  <div class="flex-item"> 
<span class="flex-item-color">
  <i class="fas fa-flag-checkered"></i>
</span>  Destination
<select class="a">
  <option value="" disabled selected>Where Are You Going ?</option>
  <option value="Belgium">Belgium</option>
  <option value="Cambodia">Cambodia</option>
  <option value="China">China</option>
  <option value="Cuba">Cuba</option>
  <option value="England">England</option>
  <option value="Grand Canyon">Grand Canyon</option>
  <option value="India">India</option>
  <option value="New Zealand">New Zealand</option>
  <option value="Paris">Paris</option>
  <option value="America">United State of America</option>

</select></div>


<div class="flex-item">
<span class="flex-item-color">
  <i class="fas fa-suitcase"></i></span>
    Travel Type
<select class="a">
  <option value="" disabled selected>All Activity  </option>
  <option value="Adventure">Adventure</option>
  <option value="City Tour">City Tour</option>
  <option value="Couple">Couple</option>
  <option value="Escorted Tour">Escorted Tour</option>
  <option value="Family">Family</option>
  <option value="Hill Town">Hill Town</option>
</select>
</div>

<div class="flex-item">
<span class="flex-item-color">
  <i class="fas fa-clock"></i>  </span> 
    Duration
<input type="text"  class="form-control" placeholder="Please type duration">
</div>

<div class="flex-item">
<span class="flex-item-color"><i class="fas fa-calendar-alt"></i> </span>
    Journey Date
<input type="date" #date class="form-control" placeholder="Select your date">

</div>

<div class="flex-item">
  <a href="/destination" class="btn btn-warning find-button">Find Now</a>
</div>
</div>
<br>

<!--up tour-->
<div class="Packages_Container">

<p class="up">Upcoming Tours</p>
<p class="up1">
  Unleash the Wanderlust Within You Crafting Dreams<br> into Unforgettable Journeys.</p>

<!-- Previous and Next buttons -->


<div class="container">

  <button class="prev-btn" (click)="scrollPrev()">
    <span class="arrow"><i class="fas fa-arrow-left"></i></span></button>
  <button class="next-btn" (click)="scrollNext()">
   <span class="arrow"><i class="fas fa-arrow-right"></i></span>
  </button>
  <div #scrollContainer class="item-container">
      <!--card1-->

  <div *ngFor="let card of _packages" class="item">
    <div class="card">
      <span class="badge">
        <i class="fas fa-clock"></i> {{formatDaysAndNights(card?.duration)}}
      </span>
      <img [src]="card.image" [alt]="card.title" class="card-img-top">
      <div class="card-body">
        <h2 class="card-title">{{ card.title }}</h2>
<span>
 <a (click)="bookNow(card.pk_Package_id)" 
 class="btn btn-warning book-button">Book Now
       <span class="arrow"><i class="fas fa-arrow-right"></i></span>    
          </a>
        </span>
        <span class="c">Starting From</span>
        <p class="d">per person</p>
      </div>
    </div>
  </div>

</div>
</div>
<a href="/tour" class="btn btn-warning view-button">View All Offer</a>
</div>


<!--top destination -->
<div class="top">
  Top Destination 
<a href="/destination" class="btn btn-warning tour-button">View All Tours</a>
<div class="cont">
  <!-- Loop-->
  <div class="card1" *ngFor="let tour of tours">
    <img [src]="tour.imagePath" alt="Image" class="img-tour">
    <div class="text-overlay2">
      <a href="/package2" class="a-package2">
      <h2 class="name">{{ tour.tourName }}</h2>
    </a> <div class="line-number">
        <div class="line"></div>
        <div class="number">{{ tour.placeRank }}</div>
      </div>
    </div>
  </div>
</div>
</div>

<!--travel buddy-->
<div class="Packages_Container">
<p class="travel">What Our Travel Buddy Say<br>
   About Us
  </p>
  <p class="travel2">
Capturing Memories, One Testimonial at a Time: Hear What Our Travel Buddies 
Have to <br>Say About the One Life For Travel Experience!
</p>
 
  <!-- Previous and Next buttons -->  
  <div class="container">
  
    <button class="prev-btn" (click)="scrollPrev()">
      <span style="font-size:0.8rem;"><i class="fas fa-arrow-left fa-sm"></i></span></button>
    <button class="next-btn" (click)="scrollNext()">
     <span style="font-size:0.8rem;"><i class="fas fa-arrow-right"></i></span>
  </button>
<div #scrollContainer class="item-container">
        <!--card1-->
        <div *ngFor="let review of reviews" class="card2">
          <div class="A">
            <img [src]="review.photo" class="user-photo" alt="User Photo">
            {{ review.name }}
            <div class="rating">
              <i *ngFor="let star of [].constructor(review.rating); let i = index" class="fas fa-star"></i>
            </div>
          </div>
          
          <div class="card-body">
            <div class="review-text">
              <p>{{ review.reviewText }}</p>
            </div>
          </div>
        </div>
        
      
        
</div> </div></div>

<!--box 3 tour guide-->
<div class="box3">
  <p class="our"> Our Sherpas </p>
  <p class="guide">
    Guiding You Beyond Maps: Your Personal Navigator to Unforgettable Adventures 

  <div class="cont3">
      <!--card 1-->
<div *ngFor="let guide of _tourguides " class="card3">
      <div class="card3-img-top">
        <div class="image-container">
          <img [src]="guide?.image" alt="Image">
          <div class="text-overlay">
            <div class="social-icons1">
    <span class="twitter-icon-container ">
<a [href]="guide.insta" target="_blank">
<i class="fab fa-instagram" aria-label="Instagram"></i></a>
  </span>
  <span class="twitter-icon-container">
   <a [href]="guide.insta" target="_blank">
  <i class="fab fa-facebook-f" aria-label="Facebook"></i></a>
  </span>
<span class="twitter-icon-container">
 <a [href]="guide.insta" target="_blank">
<i class="fab fa-whatsapp" aria-label="WhatsApp"></i></a>
</span>
 <span class="twitter-icon-container">
<a [href]="guide.insta" target="_blank">
<i class="fab fa-twitter" aria-label="Twitter"></i></a>
              </span>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h4 class="title2">{{ guide.captain }}</h4>
          <h4 class="tg">Tour Guide</h4>
        </div>
      </div>
    </div>
  </div>
    </div>
<!--recent post-->

<div class="box4">
  <p class="recent">Recent Post </p>
  <div class="row">
  <div class="col-md-1"></div>
<div class="col-md-8">
 <p class="paragraph2">Duis rutrum nisl urna. Maecenas vel libero faucibus nisi venenatis
   hendrerit a id lectus.<br> Suspendissendt blandit interdum. 
  Sed pellentesque at nunc eget consectetur.</p></div>
  <div class="col-md-3 mb-5">
    <a href="/blog" class="btn btn-warning post-button">View All Post</a>
  </div>
</div>

  <div class="cont4">

 <!----card 1-->
 <div *ngFor="let card of cards1" class="card4">
  <span class="badge4">
    <span><i class="fas fa-calendar-alt"></i></span> {{ card.date }}
  </span>
  
  <img [src]="card.image" class="card4-img-top" [alt]="card.alt">
  
  <div class="card4-body">
    <span class="i">
      <i class="fas fa-user-circle"></i>
    </span>
    <span class="user">By {{ card.author }}</span>
    <span class="i">
      <i class="fas fa-comment"></i>
    </span>
    <span class="user">({{ card.commentsCount }}) Comment</span>
    
    <h2 class="card4-title">
      <a href="package"  class="link-color"> {{ card.title }}</a> </h2>
  </div>
</div>
</div>
</div>

<!--join box-->
<div class="join">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-12 d-flex align-items-center">
      <div>
 <p class="h2"> JOIN US FOR MORE UPDATE</p>
 <h6 class="h3">Duis rutrum nisl urna. Maecenas vel libero faucibus nisi 
 venenatis hendrerit a id lectus.<br>
 Suspendissendt blandit interdum.</h6></div>
 <div class="col-md-1"></div>
 <div class="col-md-2">
  <a href="#" class="btn btn-warning join-now ms-3 ">Join Now</a>
</div>
 </div>
</div>
</div>
                                                                
<!-- Footer Section -->
<div class="foot">
  <footer class="text-light py-4">
    <div class="cont5">
        <div class="row">
            <div class="col-md-4">
             <b>   <p class="h4">
              <img src="assets/images/logo.png" height="52.67" width="147">
             </p>
 <p class="paragraph">
  Duis rutrum nisl urna. Maecenas vel libero<br>
   faucibus nisi venenatis hendrerit a id lectus.<br>
   Suspendissendt molestie turpis nec lacinia <br>
   vehicula.

   <br><br>
   Working days : Monday-Friday
                  (9AM-5PM) </p>
    <p class="follow">
      FOLLOW US ON :</p></b>
      <span class="social-icon"><i class="fab fa-instagram">
        
      </i></span>
      <span class="social-icon"><i class="fab fa-facebook-f"></i></span>
      <span class="social-icon"><i class="fab fa-twitter"></i></span>
      <span class="social-icon"><i class="fab fa-whatsapp"></i></span>
      <span class="social-icon"><i class="fab fa-pinterest"></i></span>
  
    </div>
            <div class="col-md-2">
                <p class="h5">Quick Links</p>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light">Guid</a></li>
                    <li><a href="#" class="text-light">Blogs</a></li>
                    <li><a href="#" class="text-light">Contact Us</a></li>
                    <li><a href="#" class="text-light">Destination</a></li>
                    <li><a href="#" class="text-light">FAQ</a></li>
                    <li><a href="#" class="text-light">Gallery</a></li> </ul>
            </div>
  
            <div class="col-md-2">
              <p class="h5">Tour Type</p>
              <ul class="list-unstyled">
                  <li><a href="#" class="text-light">City Tour</a></li>
                  <li><a href="#" class="text-light">Hill Town </a></li>
                  <li><a href="#" class="text-light">Family</a></li>
                  <li><a href="#" class="text-light">Adventure</a></li>
                  <li><a href="#" class="text-light">Escorted Tour</a></li>
                  <li><a href="#" class="text-light">Couple</a></li> </ul>
          </div>
            <div class="col-md-3">
                <p class="h5">Contact Us</p>
                <span><i class="fas fa-phone"></i></span> 
               + 91 123456789
                   <p> +91 109876556</p>
                <p><i class="fas fa-envelope"></i> 
                  info&#64;example.com<br> info&#64;support.com</p>
                 <p><i class="fas fa-compass"></i>
                168/170 Avenue 01 <br>Mirpur DOHS,Bangladesh</p>
      </div>
</div></div>
</footer>
</div>  
<div class="e">
  Copyright 2024 Funstay | Design By Acelucid Pvt. Ltd
</div>

