<p>home works!</p>
<input type="submit" #explore value="Explore Now" class="btn btn-warning">
<div class="dropdown">
 
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
     role="button" data-bs-toggle="dropdown" aria-expanded="false" class="btn btn-">
      Dropdown
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" href="#">Belgium</a></li><hr>
      <li><a class="dropdown-item" href="#">Cambodia</a></li><hr>
      <li><a class="dropdown-item" href="#">China</a></li>
    </ul>
  </li>
  


  <div class="flex-container">
    <div class="flex-item">
      <i class="fas fa-destination"> </i> 
Destination</div>
    <div class="flex-item">Travel Type</div>
    <div class="flex-item">Duration</div>
    <div class="flex-item">Journey Date</div>
    <div class="flex-item">Find Now</div>

  </div>
  
