<p>home works!</p>
<input type="submit" #explore value="Explore Now" class="btn btn-warning">
<div class="dropdown">
 
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
     role="button" data-bs-toggle="dropdown" aria-expanded="false" class="btn btn-">
      Dropdown
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" href="#">Belgium</a></li><hr>
      <li><a class="dropdown-item" href="#">Cambodia</a></li><hr>
      <li><a class="dropdown-item" href="#">China</a></li>
    </ul>
  </li>
  
<div class="flex-container">

<div class="flex-item"> 
<span><i class="fas fa-flag-checkered"> Destination</i></span></div>

<div class="flex-item">
<span><i class="fas fa-suitcase"> Travel Type </i></span></div>
  
<div class="flex-item">
<span><i class="fas fa-clock"> Duration</i></span></div>
   
<div class="flex-item">
<span><i class="fas fa-calendar-alt"> Journey Date</i></span></div>
   
<div class="flex-item">
<button class="btn btn-warning">
  <i class="fas fa-search"></i> Find Now</button></div>
  
