
.background
{
  display:block;
  height:100vh;
  background-image: url('/assets/images/background.jpg');
  background-size: cover;
  background-position:center;
  margin-bottom: 40px;
}

.center-button
 {
  display: block; /* Makes the button a block element */
  margin:auto;
  border:2px solid black;
  border-radius:40px;
}

.center-button:hover
 {
color:#FECC4E;
background-color: black;
}

.navbar-brand {
  display: flex;
  flex-direction: column; /* Stack brand text and subtext */
  align-items: center;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.brand-text {

  font-size: 0.75rem; /* Adjust size as needed */
  color: #FECC4E;/* Subtle color for the text */
}

.navbar-nav .nav-link {
  transition: background-color 0.3s, color 0.3s;
  color:green;
  font-size:20px;
}

.navbar-nav .nav-link:hover {
  background:#9acd32;; /* Hover effect */
  color:blue;/* Change text color on hover */

}

.find-button
 {
  display: block; /* Makes the button a block element */
  margin:auto;
}

.find-button:hover
 {
color:#FECC4E;
background-color: black;
}

.flex-container {
  display: flex;
  justify-content: space-between; /* Adjusts space between items */
  align-items: center; /* Centers items vertically */
  
  
}
.flex-item{
  width:350px;
  height:100px;
}

.input-field {
  flex: 1; /* Makes the input fields take equal space */
  margin: 0 10px; /* Adds horizontal spacing */
}

.bg 
{
  background-color:rgb(87, 87, 10);
  height:670px;
  width:100%;  
  color:black;
  font-family: 'Outfit', sans-serif;
}
/*.card-container {
  display: flex;
  text-align: center;
  justify-content:space-around;
  padding:30px;
  flex-wrap:wrap;
  margin-top:30px;
  font-family:'Poppins', sans-serif;
  transition:0.3s;
}*/

.card {
  overflow:hidden;
  transition:0.2s; 
  height:430px;
  background-color:white;
  width:350px;
  border-radius:20px;
  margin:10px;
}


.view-button
 {
  display: block; /* Makes the button a block element */
  margin-left:40%;
  border:2px solid black;
  text-align: center;
height:40px;
  width:150px;
}

.view-button:hover
 {
color:#FECC4E;
background-color: black;
}

.box
{
  height:350px;
  width:100%;
  background-color:grey;
  font-family: 'Outfit', sans-serif;
  font-size:40px;
  color:aliceblue;
    font-weight: bold;
    padding-left:80px;
    padding-top:80px;
}

.top 
{
  height:500px;
  width:100%;
  font-size:40px;
  color:black;
  font-weight:bold;
  background-color:rgb(143, 152, 183);
  font-family: 'Outfit', sans-serif;
}
.tour-button
 {
border:2px solid black;
height:40px;
  width:150px;
  position: relative;
  margin-left:50%;
}

.tour-button:hover
 {
color:#FECC4E;
background-color: black;
 }


.package-container {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  margin-top:5%;
}

.package-slide {
  display: inline-flex;
  animation: slide-horizontal 60s linear infinite; 
 /* transition: transform 0.5s ease;*/  
}

@keyframes slide-horizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.card {
  margin-right:30px;
  flex-shrink: 0; 
}

