.box1 {
  overflow: hidden;
  padding: 10px;
}


.cont1 {
  width: 100%; 
  max-width: 1200px; 
  margin: 0 auto; 
  gap: 25px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
}

.card1 {
  border: none;
  background-color:#fbfbfb;
  height:90px;
  width:22rem;
  padding-left:12px;
  gap:20px;
  color:#2d373c;
  cursor: pointer ;
  transition: all 0.3s ease;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}


.card2 {
  border: none;
  background-color:#fff;
  height:340px;
  width:22rem;
  gap:10px;
  color:#2d373c;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  position: relative;
}

.card2-img-top {
height:200px;
width:100%;
transition: transform 0.2s ease;
  z-index: 1;
}
.card2:hover .badge {
  opacity: 1;
  visibility: visible;
}

.card2-body {
font-size: 20px;
  padding: 1rem;
}
.card2-title {
  font-size:21px;
  padding-top:10px;
  font-weight:600;
  height:52px;
  width:304.31px;
  font-family:"Montserrat",sans-serif;
}

.card2-title:hover {
animation: color-change 3s infinite;
}

@keyframes color-change {
0% {
color: #0000; 
}
35% {
color: #fcb900;
}
90% {
color:green; 
}
100% {
color: #000; 
}
}

.badge {
  position: absolute;
  top:20px;
  height:40px;
  width:165px;
  left: 20px;
  background-color: #FECC4E;
  font-size:15px;
  font-weight:600;
  color: #fff;
  font-family: "Montserrat",sans-serif;
  padding:12px 12px;
  opacity: 1;  
  visibility: visible; 
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 2;  }
  
.card2:hover .badge {
  background-color: gray;
}

.card2-img-top:hover 
{
  transition: transform 0.2s ease;
  transform: scale(1.1);
}

.f-sm {
font-size: 0.8rem;}

.user 
{
  font-size:15px;
  font-weight:500;
  margin-left:10px;
  color:#696969;
  height:23.5px;
  font-family: "Montserrat",sans-serif;
  width:81.81px
}
.i 
{
font-size:16px;
margin-left:15px;
font-weight: 650;
color:#FECC4E;
}
.a-btn
{
  color:#212529;
text-decoration: none;
}
.a-btn:hover {
  color: #FECC4E;  
  text-decoration:none; 
}
